.home-page {
  margin-top: 2em;
}
.recommendation__header {
  margin-bottom: 1em;
  font-size: 1.75em;
  font-weight: 600;
}
.recommendation__block {
  margin-bottom: 3rem;
  .recommendation__list {
    display: grid;
    grid-template-columns: repeat(5, 18.5%);
    // grid-gap: 25px 20px;
    justify-content: space-between;
  }
}
